{lib_dirs, ["apps", "deps"]}.
{erl_opts, [
		{i, "apps"},
		{i, "deps"},
		warnings_as_errors,
		debug_info]}.
{edoc_opts, [
		{dir, "../../doc"}]}.
{sub_dirs, [
		"rel", "apps/*"]}.
{deps, [
		% dependencies go here. {project, "version", {git, "url", {tag, Tagname}}}
		% dependencies go here. {project, "version", {git, "url", {branch, Branchname}}}
	]}.
